* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background: url("background-img.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
}
form {
    position: absolute;
    top: 1rem;
    right: 0.7rem;
    width: 30%;
    padding: 3em;
}
form div {
    display: flex;
    align-items: center;
    width: 100%;
    height: 4em;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
}
form label {
    font-size: 2em;
}
form input {
    margin-left: 1em;
}
form button,
form input {
    background-color: transparent;
    font-size: 1.5em;
    color: white;
    border-radius: 10px;
    width: 90%;
    outline: none;
    border: none;
}
form button {
    padding: 5px;
}

dialog {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    width: 50%;
    height: 40%;
    background-color: transparent;
    border: none;
    border-radius: 10px;

    top: 60%;
    left: 35%;
    transform: translate(-50%, -50%)
}

.left {
    display: grid;
    grid-template-rows: 1fr 2fr;
    border-right: 3px solid rgba(0, 0, 0, 0.3);
}

#location-name {
    grid-row: 1 / 2;
    font-size: 5em;
    padding: 1px;
}

.temp-degree {
    display: flex;
    align-items: center;
}


#temp {
    grid-row: 2 / 3;
    font-size: 8em;
}
#degree {
    font-size: 5em;
}

.right {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#conditions {
    font-size: 1.5em;
    grid-row: 1 / 2;
}

#feelslike {
    font-size: 1.5em;
    grid-row: 2 / 3;
}

#humidity {
    font-size: 1.5em;
    grid-row: 3 / 4;
}

#uvindex {
    font-size: 1.5em;
    grid-row: 4 / 5;
}