* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background: url("background-img.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
}
form {
    position: absolute;
    top: 1rem;
    right: 0.7rem;
    width: 30%;
    padding: 3em;
}
form label {
    font-size: 2em;
}
form button,
form input {
    font-size: 1.5em;
    border-radius: 10px;
    outline: none;
}
form button {
    padding: 5px;
}

dialog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    background: whitesmoke;
    width: 50%;
    height: 40%;
    border-radius: 10px;

    top: 60%;
    left: 35%;
    transform: translate(-50%, -50%)
}

.left {
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 2fr;
}

#location-name {
    grid-row: 1 / 2;
    font-size: 1.3em;
    color: black;
    padding: 1px;
}

#temp {
    grid-row: 2 / 3;
}

.right {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#conditions {
    grid-row: 1 / 2;
}

#feelslike {
    grid-row: 2 / 3;
}

#humidity {
    grid-row: 3 / 4;
}

#uvindex {
    grid-row: 4 / 5;
}