* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
}
form {
    text-align: center;
    width: 100%;
    padding: 3em;
    background-color: lightcyan;
}
form label {
    font-size: 2em;
}
form button,
form input {
    font-size: 1.5em;
    border-radius: 10px;
    outline: none;
}
form button {
    padding: 5px;
}

dialog {
    background: whitesmoke;
    width: 40%;
    height: 35%;
    border-radius: 10px;

    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.loc-name.capitalize-all-word {
    text-transform: uppercase;
}
.loc-name {
    font-size: 1.3em;
    color: black;
    padding: 1px;
}